
body {
  margin: 0;
  padding: 0;
  background-color: #cfe3e3;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.maintenance-container {
  text-align: center;
  color: #333;
}

.maintenance-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.maintenance-container p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.gif-container {
  width: 60vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .gif-container img {
  object-fit: contain;
} */
